{% extends "base.html" %}

{% block title %}
    <h1 class="nt-4 my-4">Dashboard</h1>
{% endblock %} 

{% block body %}
<body class="bg-light">
    <div class="container bg-white shadow-md p-5 form-layout text-center">
        {% if not user.is_anonymous %}
            <h4>Welcome!</h4>
            <p class="py-4">{{ user }}</p>
        {% else %}
            <script>
                window.location.replace("{% url 'index' %}");
            </script>
        {% endif %}
    </div>
</body>
{% endblock %}
