{% extends "base.html" %}

{% block title %}
    <h1 class="nt-4 my-4">Dashboard</h1>
{% endblock %} 

{% block body %}
<body class="bg-light">
    {% if not user.is_anonymous %}
    <div class="container bg-white shadow-md p-5 form-layout mb-4">
        <h4>Welcome, {{ user }}</h4>
        <hr>
        <p>Here you can do the following:</p>
        <li class="pb-2">Track your orders</li>
        <li class="pb-2">Manage your account</li>
    </div>
    <div class="container bg-white shadow-md p-5 py-4 form-layout mb-4">
        <h5>Track your orders</h5>
        <hr>
        <p class="pt-2 mb-1"><a type="button" role="button" href="{% url 'cart_summary' %}" class="btn btn-dark" style="background-color: #63E6BE; color:black">Manage orders</a></p>
    </div>
    <div class="container bg-white shadow-md p-5 py-4 form-layout mb-4">
        <h5>Manage your account</h5>
        <hr>
        <p class="pt-2 mb-1"><a type="button" role="button" href="{% url 'profile_management' %}" class="btn btn-dark" style="background-color: #63E6BE; color:black">Update profile</a></p>
        <p class="pt-2 mb-1"><a type="button" role="button" href="{% url 'logout' %}" class="btn btn-danger">Log out</a></p>
    </div>    
    {% endif %}
</body>
{% endblock %}
