{% extends "base.html" %}

{% block title %}
    <h1 class="nt-4 my-4">Delete account</h1>
{% endblock %} 

{% block body %}
<body class="bg-light">
    <div class="container bg-white shadow-md p-5 form-layout text-center">
        {% if result == "success" %}
            <i class="fa fa-check fa-3x pb-4 text-success" aria-hidden="true"></i>
            <h4>Account has been deleted</h4>
        {% endif %}
        {% if result == "fail" %}
            <i class="fa fa-times fa-3x pb-4 text-danger" aria-hidden="true"></i>
            <h4>Account deletion failed!</h4>
        {% endif %}    
    </div>
</body>
{% endblock %}