<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand main-heading text-white" href="{% url 'index' %}"> 
            Django Store App 
        </a>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownCategory" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownCategory">
                        <li>
                            <a class="dropdown-item {% if request.path == '/' %}active{% endif %}" href="{% url 'index' %}">All categories</a>
                            {% for category in all_categories %}
                                <a class="dropdown-item {% if request.path == category.get_absolute_url %}active{% endif %}" href="{{ category.get_absolute_url }}">{{ category.name|capfirst }}</a>
                            {% endfor %}
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownBrand" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                        Brands
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownBrand">
                        <li>
                            <a class="dropdown-item {% if request.path == '/' %}active{% endif %}" href="{% url 'index' %}">All brands</a>
                            {% for brand in all_brands %}
                                <a class="dropdown-item {% if request.path == brand.get_absolute_url %}active{% endif %}" href="{{ brand.get_absolute_url }}">{{ brand.name|capfirst }}</a>
                            {% endfor %}
                        </li>
                    </ul>
                </li>                
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/about/' %}active{% endif %}" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/contact/' %}active{% endif %}" href="{% url 'contact' %}">Contact</a>
                </li>            
            </ul>
        </div>
        
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>    
        
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto mb-2">
                {% if not user.is_anonymous %}
                    <li class="nav-item ms-2 mt-2">
                        <a class="nav-link {% if request.path == '/account/dashboard/' %}active{% endif %}" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li class="nav-item ms-2 mt-2">
                        <a class="nav-link {% if request.path == '/account/logout/' %}active{% endif %}" href="{% url 'logout' %}">Log out</a>
                    </li>
                {% else %}
                    <li class="nav-item ms-2 mt-2">
                        <a class="nav-link {% if request.path == '/account/register/' %}active{% endif %}" href="{% url 'register' %}">Register</a>
                    </li>
                    <li class="nav-item ms-2 mt-2">
                        <a class="nav-link {% if request.path == '/account/login/' %}active{% endif %}" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}                    
                <li class="nav-item ms-2 mt-2">
                    <a type="button" role="button" href="{% url 'cart_summary' %}" class="btn btn-outline-secondary"> 
                        <i class="fa fa-shopping-cart" style="color: #63E6BE;" aria-hidden="true"></i>
                        {% with cart_qty=cart|length %}
                            {% if cart_qty > 0 %}
                                <div id="cart-qty" class="mx-2 px-2 d-inline-flex" style="background-color: #63E6BE; color:black">{{ cart_qty }}</div>
                            {% endif %}
                        {% endwith %}                                
                    </a>
                </li>
            </ul>
        </div>
    </div>        
</nav>