{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    <h1 class="nt-4 my-4">Password reset</h1>
{% endblock %} 

{% block body %}
<body class="bg-light">
    {% if not user.is_authenticated %}
    <div class="container bg-white shadow-md p-5 py-4 form-layout mb-4">
        <h5>Password reset</h5>
        <hr>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{ form.new_password1|as_crispy_field }}
            {{ form.new_password2|as_crispy_field }}
            <button type="submit" class="btn btn-dark my-2" style="background-color: #63E6BE; color:black">Password reset</button>
        </form>        
    </div>    
    <div class="container form-layout">
        <p class="pt-2 mb-1"><a type="button" role="button" href="{% url 'login' %}" class="btn btn-dark my-2" style="background-color: #63E6BE; color:black">Go back</a></p>
    </div>        
    {% endif %}
</body>
{% endblock %}