{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    <h1 class="nt-4 my-4">Checkout</h1>
{% endblock %} 

{% block body %}
<body class="bg-light">
    <div class="container bg-white shadow-md p-5 form-layout">
        <h4>Manage shipping</h4>
        <hr>
        <form method="POST" autocomplete="off">
            <div class="form-group mb-3">
                <label for="full_name" class="form-label requiredField"> Full name<span class="asteriskField">*</span></label>
                <input class="form-control validate" id="full_name" name="full_name" type="text" required {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" readonly {% else %} value="" {% endif %}>
            </div>
            <div class="form-group mb-3">
                <label for="email" class="form-label requiredField"> Email address<span class="asteriskField">*</span></label>
                <input class="form-control validate" id="email" name="email" type="email" required {% if user.is_authenticated %} value="{{ user.email }}" readonly {% else %} value="" {% endif %}>
            </div>            
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-dark my-2" style="background-color: #63E6BE; color:black">Complete order</button>
            </div>
        </form>
    </div>
</body>

{% endblock %}